html,
body {
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
}

h1 {
  margin: 0;
  padding: 10px;
  position: absolute;
  /* no empuja el fondo hacia abajo */
  top: 0;
  left: 0;
  z-index: 10;
  color: white;
 }

.gamebackground {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;

  background-image: url("../Img/background.png");
  background-repeat: no-repeat;

  background-size: contain;
  background-position: center;
  background-color: rgba(21, 20, 20, 0.849);


}

.road {
 position: absolute;   
  left: 0;
  right: 0;
  bottom: 0;
  height: 45%;
  overflow: hidden;
}

.player {
  position: absolute;
  left: 60px;
  top: 0;
  width: 15vw;
  height: 15vw;
  height: auto;
  background-image: url(../Img/personaje.gif);
}